/*Stylesheet for RMC bootstrap subtheme*/

@charset "UTF-8";

@font-face {
    font-family: texgyreadventor;
    src: url(../fonts/texgyreadventor-regular.otf);
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
	background-color: #272727;
}

.RMC-fp-header{
	height: 200px;
	padding: 0px;
	color: #fff;
	font-size: 1.1em;
	font-family: Montserrat, sans-serif;
	overflow: hidden;
	background-image: url("../img/lance_reunion_header_bg.png"), linear-gradient(90deg, #450003, #1f0a0a);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: auto 100%;
}

.RMC-header{
	height: 125px;
	padding: 0px;
	background-color: #450003;
	background-image: linear-gradient(90deg, #450003, #1f0a0a);
	color: #fff;
	font-size: 1.1em;
	font-family: Montserrat, sans-serif;
	font-weight: normal;
	overflow: hidden;
}


.cu-logo-link{
	position: relative;
  	top: 49%;
  	transform: translateY(-50%);
	margin: 0px 20px 0px 25px;
	float: left;
	z-index: 10;
}

.cu-logo{
	height: 100px;
}

.cu-logo-fp{
	height: 120px;
}

.CUL-header-links{
	position: relative;
  	top: 48%;
  	transform: translateY(-50%);
	padding: 0px;
	white-space: nowrap;
}

.CUL-header-links a{
	text-decoration: none;
	
}

#header-link-CUL {
	color: #eee;
	font-size: 1.2em;
	letter-spacing: 1px;
	font-weight: bold;
}

#header-link-RMC {
	color: #e8c375;
	font-size: 1.4em;
    	letter-spacing: 1px;
    	line-height: 1.3em;
    	font-weight: bold;
    	text-transform: uppercase;
}

.search-navigation-items {
	float: right;
	margin: 15px 25px 0px 0px;
	font-size: 1.8em;
	text-align: right;
}
	
.search-navigation-items a {
	color: #eee;
	text-decoration: none;
}
	
.search-navigation-items a:hover {
	color: #fff;
}

@media (max-width: 1200px) {

 	.RMC-fp-header{
	height: 170px;
	}
	
	.cu-logo, .cu-logo-fp{
	height: 100px;
	}
	
	.CUL-header-links{
	font-size: .9em;
	}
}

@media (max-width: 950px) {

 	.RMC-fp-header{
	height: 125px;
	}
	
	.cu-logo, .cu-logo-fp{
	height: 90px;
	}
	
	.CUL-header-links{
	font-size: .8em;
	}
}

@media (max-width: 800px) {

 	.RMC-fp-header{
	height: 125px;
	background-image: linear-gradient(90deg, #450003, #1f0a0a);
	}
	
	.cu-logo, .cu-logo-fp{
	height: 90px;
	}
	
	.CUL-header-links{
	font-size: .8em;
	}
	
	.search-navigation-items {
	font-size: 1.6em;
	}
}

@media (max-width: 525px) {

 	.RMC-fp-header{
	height: 100px;
	background-image: linear-gradient(90deg, #450003, #1f0a0a);
	}
	
	.cu-logo, .cu-logo-fp{
	height: 80px;
	}
	
	.CUL-header-links{
	font-size: .7em;
	}
	
	.search-navigation-items {
	font-size: 1.5em;
	margin: 10px 15px 0px 0px;
	}
}


/*main navbar body*/
.navbar-static-top {
	background-color: #666;
	z-index: 500; /*to keep from covering admin panels and menu*/
}

.navbar-default {
	border:none;
	box-shadow: 0px 5px 8px #b2a38e;
}

/*main navbar selected tab*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active-trail > a {
	background-color: #999;
	color: #fff;
}

.navbar-default .navbar-nav > .active-trail > a, .navbar-default .navbar-nav > .active-trail > a:hover, .navbar-default .navbar-nav > .active-trail > a:focus {
	background-color: #999;
	color: #fff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #999;
	color: #fff;
}

/*main navbar unselected tabs*/
.navbar-default .navbar-nav > li > a {
	color: #ccc;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #fff;
}

.navbar-default .navbar-nav > li > a:focus {
	color: #fff;
	
}

#navbar{
	margin: 0px;
}

/*main navbar dropdown menu, non-collapsed*/
.dropdown-menu {
	background-color: #e0d8cd;

}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: #b6afa7;
}

/*main navbar collapsed second-level (dropdown)  links*/
@media (max-width: 768px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #ccc;
	}
	
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
	color: #fff;
	}
}

/*boostrap main content container below navbar*/
.container-fluid {
padding: 0px 30px;
}

/*main content body below navbar*/
.main-container{
	padding: 30px 30px 30px 35px;
	background-color: #e3d8c8;
}

.main-container a {
	color: #5b1d1e;
}

/*node title*/
.page-header {
	border-bottom: none;
	margin: 0px;
	padding-bottom: 10px;
	color: #5b1d1e;
	font-size: 1.6em;
}

/*primary content body, not including sidebars*/
#main-body{
	max-width: 1000px;
	padding: 0px 50px 0px 15px;
	color: #644824;
	font-size: 1.1em;
	line-height: 1.6em;
}

#main-body h1{
	font-family: texgyreadventor, sans-serif;
	font-size: 1.5em;
	color: #5b1d1e;
}

#main-body h2{
	font-size: 1.3em;
}

#main-body h3{
	color: #5b1d1e;
	font-size: 1.2em;
}

#main-body a{
	text-decoration: underline;
}

#main-body a:hover{
	color: #7c3411;
}

.imagewcaption-right{
	width: 250px;
	float: right;
	margin-left: 15px;
	font-size: .8em;
	line-height: 1em;
	color: #666;
	text-align: center;
}

.imagewcaption-right img{
	margin-bottom: 5px;
}

.imagewcaption-left{
	width: 250px;
	float: left;
	margin-right: 15px;
	font-size: .8em;
	line-height: 1em;
	color: #666;
	text-align: center;
}

.imagewcaption-left img{
	margin-bottom: 5px;
}

/*sidebar and bootstrap well*/

.region-sidebar-first{
	padding: 0px 15px 0px 0px;
}

.region-sidebar-first h1{
	font-family: texgyreadventor, sans-serif;
}

.well{
	background-color: transparent;
	border: none;
	box-shadow: none;
}

/*section-menu menu_block*/
.section-menu{
	margin: 0px 0px 25px 0px;
}

.section-menu h2{
	font-family: texgyreadventor, sans-serif;
	font-size: 1.6em;
	color: #5a4937;
}

/*sidebar bulleted items*/
.section-menu .leaf{
	line-height: 1.1em;
	padding: 0px;
}

.section-menu  li > a {
    display: block;
    padding: 5px 0px 5px 0px;
    position: relative;
}

.section-menu  li > a:hover {
	background-color: #e4d3bd;
}

/*remove indent*/
.section-menu ul.menu{
	
}

/*current sidebar menu item*/
.section-menu a.active-trail{
	font-weight: bold;
}

/*indent subsection items*/
.section-menu li>ul.menu{
	margin-left: 20px;
}

.breadcrumb{
	background-color: rgba(255, 255, 255, 0.4);
}

/*welcome text front page block*/
.welcome-fp{
 	padding: 0px 5px 30px 5px;
 	line-height: 1.6em;
 	color: #644824;
 	font-size: 1.1em;
}

.welcome-fp h1{
	margin: 0px 0px 10px 0px;
	padding: 0px;
	color: #5b1d1e;
	font-size: 1.7em;
	font-weight: normal;
}

.welcome-fp a{
	text-decoration: underline;
}

.welcome-fp a:hover{
	color: #7c3411;
}

/*services hours and links block*/
.sidebar-utility-block{
	margin-top: 0px;
	padding: 0px 15px 15px 15px;
	text-align: center;
	line-height: 1.4em;
	color: #6b5c49;
	background-color: #d1bfab;
	/*box-shadow: 5px 5px 8px #b2a38e;*/
	border-radius: 10px;
}

@media (max-width: 992px) {
	.sidebar-utility-block{
	font-size: 1em;
	}
}

.sidebar-utility-block h1{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #5a4937;
	font-size: 1.1em;
	font-weight: bold;
}

.sidebar-utility-block a{
	text-decoration: underline;
}

.sidebar-utility-block a:hover{
	color: #7c3411;
}

.sidebar-utility-block hr{
	margin: 15px 20px 10px 20px;
	border-color: #a59584;
}

.sidebar-utility-block-quicklinks{
	padding: 0px 5px;
	white-space: nowrap;
	line-height: 2em;
}

.research-tools{
	margin-top: 30px;
}


/* Front page items*/

/* Carousel*/

.item{
    background: #333;    
    text-align: center;  
}

.carousel{
	margin: 0px;
}

#featured-collections-carousel{
	margin: 0px;
}

#featured-collections-carousel a{
	color: #ddd;
}

#featured-collections-carousel a:hover {
	color: #fff;
}

.carousel-header{
	color: #5b1d1e;
	font-size: 1.4em;
}

.carousel-indicators{
	bottom: 20px;
}
.carousel-control.left{
	background-image: none;
}

.carousel-control.right{
	background-image: none;
}

#exhibitionCarousel{
	margin: 0px 0px 20px 0px;
	width: 300px;
	height: 435px;
}

/* Front page exhibiton ads */

.exhibtion-ad-fp img{
	margin-bottom: 5px;
	opacity: 1;
   	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}


.exhibtion-ad-fp:hover img {
	opacity: .7;
}



/* RMC Reference Form*/

.ref-form-component{
	padding-top: 10px;
}

.btn-primary {
	margin-top: 10px;
}

.btn-primary:hover {
}


/* Collections Highlights*/

.coll-highlight-square {
	margin-bottom: 30px;
	font-size: .8em;
	line-height: 1.3em;
	text-align: center;
}

.coll-highlight-square img{
	margin-bottom: 5px;
	opacity: 1;
   	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}


.coll-highlight-square:hover img {
	opacity: .7;
}

.coll-highlight-square a:link{
	text-decoration: none !important;
}


/* Footer*/

.footer{
	margin: 0px;
	padding: 30px 30px 20px 30px;
	background-color: #272727;
	color: #aaa;
	font-size: .9em;
	border: none;
}


.footer h1{
	margin: 0px 0px 10px 0px;
	font-size: 1em;
	color: #fff;
}

.footer a{
	color: #ccc;
}

.footer a:hover{
	color: #fff;
}

.footer-social-media-icons{
	float: right;
	margin: 0px;
	padding: 0px 5px;
	font-size: 2.2em;
	color: #fff;
}

.footer-social-media-icons a{
	color: #ccc;
}

.footer-social-media-icons a:hover{
	color: #fff;
}
